#include <windows.h>

VS_VERSION_INFO VERSIONINFO
 FILEVERSION 0,1,0,0
 PRODUCTVERSION 0,1,0,0
 FILEFLAGSMASK 0x3fL
#ifdef _DEBUG
 FILEFLAGS VS_FF_DEBUG
#else
 FILEFLAGS 0x0L
#endif
 FILEOS VOS_NT_WINDOWS32
 FILETYPE VFT_DLL
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904b0"
        BEGIN
            VALUE "CompanyName", "Francis\0"
            VALUE "FileDescription", "Pip-Boy Video Player xNVSE plugin\0"
            VALUE "FileVersion", "0.1.0\0"
            VALUE "InternalName", "PipBoyVideoPlayer\0"
            VALUE "LegalCopyright", "Copyright 2026 Francis. All rights reserved.\0"
            VALUE "OriginalFilename", "PipBoyVideoPlayer.dll\0"
            VALUE "ProductName", "Pip-Boy Video Player\0"
            VALUE "ProductVersion", "0.1.0\0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0409, 1200
    END
END
